
#education {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#education ul {
    list-style: none;
    border: 1px solid black;

    margin: 0;
    padding: 24px;

    background-color: #006600;
    color: #ffffe6;

    border-radius: 10px;
}


#education li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 8px;
}

#education .align-end {
    font-weight: bold;
    justify-self: end;
}

#education button {
    float: right;

    background: url(../images/delete-icon.svg);
    background-size: cover;

    width: 25px;
    height: 25px;

    border: none;
    cursor: pointer;
}

