.preview-education-details {
  align-self: flex-start;
  width: 100%;
  min-height: 20%;
}

.preview-education-details > h2 {
  border-bottom: 2px solid black;
}

.education-item {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.education-item h3,
.education-item p {
  margin: 0;
}
