
#prof-Exp {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#prof-Exp ul{
    list-style: none;
    border: 1px solid black;

    margin: 0;
    padding: 24px;

    background-color: #006600;
    color: #ffffe6;

    border-radius: 10px;
    
}

#prof-Exp li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 8px;
}

#prof-Exp .align-end {
    font-weight: bold;
    justify-self: end;
}


#prof-Exp button {
    float: right;

    background: url(../images/delete-icon.svg);
    background-size: cover;

    width: 25px;
    height: 25px;

    border: none;
    cursor: pointer;
}
